.skill{
  margin: 10px 0;
  background-color: cyan;
}

.icon {
  margin: 15px auto;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
}

.title{
  text-align: center;
  background-color: cornsilk;
  margin-bottom: 25px;
}
.description{
  text-align: center;
  margin-bottom: 25px;
}