.aboutMe{
  display: flex;
  justify-content: space-between;
  background-color: crimson;
  margin: 15px 80px;
}

.greeting{
  width: 250px;
  height: 80px;
  background-color: whitesmoke;
}

.photo{
  width: 250px;
  height: 80px;
  background-color: whitesmoke;
}