.aboutMe{
  display: flex;
  justify-content: space-between;
  background-color: crimson;
  margin: 15px 80px;
}

.greeting{
  margin: 25px 0 25px 25px;
  width: 250px;
  background-color: whitesmoke;
    & h1,h5{
    margin-bottom: 25px;
  }
}

.photo{
  margin-right: 25px;
  width: 250px;
  background-color: whitesmoke;
}