.aboutMe{
  display: flex;
  justify-content: space-between;
  background-color: crimson;
  margin: 15px 80px;
}

.greeting{
  margin: 25px 0 25px 25px;
  width: 250px;
  background-color: whitesmoke;
    & h1,h5{
    margin-bottom: 25px;
  }
}

.photo{
  margin-right: 25px;
  width: 250px;
  background-color: whitesmoke;
}
@media (max-width:768px) {
  .greeting {
    width: 150px;
  }
  .photo{
    width: 150px;
  }
}

@media (max-width:560px) {
  .aboutMe{
    display: flex;
    justify-content: space-between;
    background-color: crimson;
    margin: 55px 20px;
  }

  .greeting {
    width: 100px;
    margin: 15px 0 15px 15px;
  }
  .photo{
    width: 100px;
    margin-right: 15px;
  }
}